[package]
name = "lavs-apis"
edition.workspace = true
version.workspace = true
license.workspace = true
repository.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cosmwasm-schema = { workspace = true }
cosmwasm-std = { workspace = true }
cw-storage-plus = { workspace = true }
cw-ownable = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
cw-orch = { workspace = true }
cw-utils = { workspace = true }
thiserror = { workspace = true }
